:root {
  --blanco:#ffffff;
  --blancoHueso: #F7F7F7;
  --sombra:  #00000029;
  --rojo: #FB3B64;
  --verde:#55DFB4;
  --azul:#08A6E4;
  --gris:#A5A5A5;  

}
/* Barra menu */

* {
  margin: 0;
  padding: 0; }

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: fixed;
  z-index: 50; }

.header__nav, .header__navList {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between; }


.header__navList {
  list-style: none;
  text-transform: uppercase;
  font: Bold 11px/15px 'Open Sans';
  text-align: center;
  height: 100%; }

.header__navListAnchor {
  color: #A5A5A5;
  opacity: 1;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap; }

a.header__navListAnchor:nth-of-type(4) {
  padding-right: 0;
}

.header__navList li {
  display: flex;
  height: 100%;
  letter-spacing: 3.28px;
  padding-right: 135px;
}
/*barra azul en la barra de menu con el :hover se logra que haya la linea sebaho despues de seleccionar algun modulo*/
.header__navListAnchor:hover {
  border-bottom: 4px solid #08a6e4;
}
/*Se definen algunas propiedades de la bara*/
a.header__navSpanAnchor {
  text-transform: none;
  letter-spacing: 0;
  color: #08a6e4;
  text-decoration: none;
  text-align: left;
  margin-left: 135px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  line-height: 37px;
  font-weight: 300;
}

/* Inicia el diseño del primer modulo */
.firstSection {
  margin-bottom: 150px;
}

.firstSection__header {
  text-align: center;
  font: normal 49px/57px "Raleway";
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
  padding: 30px;
}

.firstSection__headerMain {
  text-align: center;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  font: normal 49px/57px "Raleway";
}

.firstSection__backgroundPicture img {
  width: 100%;
}

.firstSection__firstText {
  text-align: center;
  font: normal 16px/22px "Open Sans";
  letter-spacing: 0;
  color: #000000;
}
/*Boton open  your shop*/
button.firstSection_button {
  background: #08a6e4 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 40px;
  opacity: 1;
  text-align: center;
  font: Bold 16px/22px "Open Sans";
  letter-spacing: 0;
  color: #ffffff;
  padding: 22px 157px;
  border: transparent;
  cursor: pointer;
}

div.firstSection__header p {
  padding: 40px;
}

p.firstSection__endingText {
  text-align: center;
  font: normal 36px/42px "Raleway";
  letter-spacing: 0;
  color: #000000;
  margin: 100px 0;
  opacity: 1;
}
/*segunda parte primer modulo*/
/* first section 'footer' pictures */
.firstSection__pictureMainText {
  text-align: center;
  font: bolder 20px/24px "Raleway";
  letter-spacing: 6px;
  color: #000000;
  opacity: 1;
  margin: 20px 0;
}

.firstSection__underPictureText {
  text-align: center;
  font: normal 17px/20px "Raleway";
  letter-spacing: 0;
  color: #a5a5a5;
  opacity: 1;
  /* width: 80%; */
}

.firstSection__firstPictureImage {
  width: 44px;
  height: 52px;
  background: transparent url("../img/Person.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.firstSection__secondPictureImage {
  width: 65px;
  height: 37px;
  background: transparent url("../img/Eye.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.firstSection__thirdPictureImage {
  width: 52px;
  height: 48px;
  background: transparent url("../img/Catalog.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.firstSection__Circles {
  width: 63px;
  height: 63px;
  border-radius: 50%; /*define que tan redondeada seran las esquinas*/
  background-color: #ffffff;
  opacity: 1;
}
.firstSection__firstCircle {
  background-color: #fb3b64;
}

.firstSection__secondCircle {
  background-color: #08a6e4;
}

.firstSection__thirdCircle {
  background-color: #55dfb4;
}

/*Vamos a cuadrar con css las */
/*con estas propiedades vamos a cuadrar el espacio(el lugar)de las imagenes y de los circulos*/
.firstSection__endingPictures {
  display: flex; /*Es declarado y definido en la especificación de modelo flexible de caja*/
  justify-content: space-around;
  align-items: flex-end;
  width: 60%;
  margin: 0 auto;
}
/*Cuadramos la localización de las la información de las imagenes*/
.firstSection__companyInfoPictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Cuadramos la localización de las imagenes*/
.firstSection__companyInfoPosition {
  top: 50px;
  left: 20px;
}

/*SEGUNDO MODULO*/
.section2 {
  position: relative; /*La propiedad position de CSS espefifica la forma en como un elemento es posicionado en el documento,
  adicional a eso RELATIVE: Es aquel que me permite posicionar el elemento de acuerdo al fujo normal del documento*/
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; /*espefifica como colocar los objetos */
  align-items: center;
}
/*me genera los tres campos o contenedores para las imagenes*/
.section2__article {
  width: 1124px;
  height: 370px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Esta seccion me separa los contenedores a 34 px de los otros*/
.section2__article:first-child {
  margin-top: 105px;
}

.section2__article:nth-child(2) {
  margin-top: 34px;
}

.section2__article:nth-child(3) {
  margin-top: 34px;
  margin-bottom: 105px;
}

/*Esta sección me ajusta de texto(define la posición con margenes)*/
.section2__article-content {
  margin: 60px 40px; /*Fija los limites al texto*/
  width: 50%;
  color: #000000; /*color al contenido de los contenedores*/
}

.section2__article-content:nth-child(2) {
  width: 40%;
  margin-right: 0;
}

/*esta seccion me genera la linea de color (boder-bottom) con sus propiedades*/
/*defino las caracteristicas de la barra*/
.section2__article-content::after {
  content: "";
  display: block;
  height: 35px;
  width: 65%; /*modifica el largo de la barra*/
  border-bottom: 3px solid #fb3b64;
} /*modifica el ancho de la barra y su color*/

article.section2__article:nth-child(2) div.section2__article-content::after {
  border-bottom: 3px solid #07ace6;
}

article.section2__article:nth-child(3) div.section2__article-content::after {
  border-bottom: 3px solid #55dfb4;
}

/*se agrega la sección de las fuentes, lo cual me permite cambiar entre su tamaño, su separación*/
.section2__article-title {
  font-family: "Raleway", sans-serif; /*importo estas fuentes del servidor de google (esto se define en el html))*/
  font-size: 36px;
  font-weight: 500;
  width: 70%;
  color: #000000;
} /*color al subtitulo (por ejemplo al "be always first")*/

.section2__article-text {
  font-size: 16px;
  margin: 45px 0;
  font: normal 16px/22px "Open Sans";
}
.section2__article-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.section2__article-img::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
}

/*Defino el tamaño del la computadora, del celular y del megafono*/
.laptop {
  width: 386px;
  height: 219px;
  position: relative;
  z-index: 5;
  padding-top: 90px;
  padding-right: 90px;
}

.phone {
  width: 426px;
  height: 328px;
  position: relative;
  z-index: 5;
}

.trumpet {
  padding-top: 30px;
  width: 295px;
  height: 207px;
}

/*coloco las formas de cada contenedor con sus respectivas propuiedades*/
/*Cruadrado*/
.section2__article:first-child .section2__article-img::after {
  width: 200px;
  height: 200px;
  background-color: #fb3b64;
  border-radius: 31px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 105px;
}
/*Circulo*/
.section2__article:nth-child(2) .section2__article-img::after {
  width: 320px;
  height: 320px;
  background-color: #07ace6;
  border-radius: 50%;
  right: 150px;
  top: -10px;
}
/*Color rectangulo verde*/
.section2__article:nth-child(3) .section2__article-img {
  background-color: #55dfb4;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
  height: 100%;
  width: 40%;
}

/*Aqui falto el espacio entre el cuadrado verde y el texto*/

/*Inicia la sección 3*/

.section3 {
  /*El área de padding es el espacio entre el contenido del elemento y su borde (border).(me genera el espacio de la sección 3)*/
  padding: 50px;
}
.section3 .section3__container {
  /*display flex: todos los elementos secundarios se convierten en elementos flexibles organizados en una fila, es decir Todos se estirarán para ser tan altos como el elemento más alto*/
  display: flex;
  /*define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor-->
    space-evenly: los elementos se distribuyen de modo que el espacio entre los sujetos de alineación adyacentes, antes del primer sujeto de alineación y después del último sujeto de alineación sea el mismo*/
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
/*Se configura la sección del titulo "pricing"*/
.section3 .section3__title {
  text-align: center;
  font: normal 36px "Raleway";
  padding: 20px 0 50px 0;
}
/*se configuran las cajas de los articulos */
.section3 .section3__article {
  /**/
  text-align: center;
  border: 1px solid #fb3b64;
  border-radius: 15px;
  padding: 30px 40px;
  width: 280px;
  position: relative;
  margin: 10px;
}
/*.section3 .section3__article i {
        margin-right: 5px; }*/
/*Se importan los colores para los check de chulo y x, la fuente se importo en el HTML*/
.section3 .section3__article .fa-check {
  color: #55dfb4;
}
.section3 .section3__article .fa-times {
  color: #eb476e;
}
/*Se crea un hover en el contendor de los articulos*/
.section3 .section3__article:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  margin-top: 30px; /*me limita la manera de ampliación del hover */
  box-shadow: 0 0 10px #fb3b64; /* x y blur-radius color*/
}
/*propiedades letra contenedores*/
.section3 .section3__article-title {
  font: Bold 20px/1px "Raleway";
  margin: 20px 0;
}
.section3 .section3__article-price {
  font: normal 46px/140px "Open Sans";
  padding: 30px 0;
  color: #fb3b64;
}
.section3 .section3__article-offer {
  font: Bold 12px/1px "Raleway";
  color: #13253b;
}
.section3 .section3__article-list {
  font: normal 14px/41px "Open Sans";
  margin-top: 50px;
  margin-bottom: 25px;
  list-style: none;
}
.section3 .section3__article-btn {
  position: absolute;
  top: 100%;
/*me perite "ubicar" el boton de begin cuando se hace el hover*/
  transform: translate(50%,-50% ); 
  right: 50%;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  background: #fb3b64 0% 0%;
  color: #fff;
  font: Bold 13px/41px "Open Sans";
  cursor: pointer;
  box-shadow: 0 0 10px #fb3b64;
}
/*Defino el color y algunas propiedades de los contenedores de precio*/
/*NO defino el basic porque ya lo definí anteriormente*/
/*Defino el professional*/
.section3 .section3__article:nth-of-type(2) {
  border: 1px solid #07ace6;
}
.section3 .section3__article:nth-of-type(2):hover {
  box-shadow: 0 0 1em #07ace6;
}
.section3 .section3__article:nth-of-type(2) .section3__article-price {
  color: #07ace6;
}
.section3 .section3__article:nth-of-type(2) .section3__article-btn {
  background: #07ace6 0% 0%;
  box-shadow: 0 0 10px #07ace6;
}
/*Defino el premium*/
.section3 .section3__article:last-of-type {
  border: 1px solid #55dfb4;
}
.section3 .section3__article:last-of-type:hover {
  box-shadow: 0 0 1em #55dfb4;
}
.section3 .section3__article:last-of-type .section3__article-price {
  color: #55dfb4;
}
.section3 .section3__article:last-of-type .section3__article-btn {
  background: #55dfb4 0% 0%;
  box-shadow: 0 0 10px #55dfb4;
}
/*Inicia la sección 4*/
/*Se configuran las propiedades de la sección 4*/
.section4__email {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 100px auto;
}
.section4__email .email-footer-cont {
  display: inline-block;
  margin-right: 10px;
}
.section4__email .section4__emailLeftsite {
  width: 50%;
}
.section4__email .section4__emailLeftsite img {
  position: relative;
  top: 0.5em;
}
.section4__email .section4__emailLeftsite span {
  display: inline-table;
  font: 500 16px/22px "Open Sans";
  color: #a5a5a5;
}
.section4__email .section4__emailRightsite {
  width: 50%;
  margin: 0 40px;
}
.section4__email .section4__emailRightsite label {
  font: Bold 11px/15px "Open Sans";
  text-transform: uppercase;
  color: #08a6e4;
  letter-spacing: 2px;
}

.section4__email .section4__emailRightsite input {
  display: block;
  border: none;
  border-bottom: 1px solid #95989a;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #707070;
}

.section4__email .section4__emailRightsite .section4__emailRightsite-input {
  width: 100%;
}
.section4__email .section4__emailRightsite span {
  font: normal 12px/17px "Open Sans";
}
.section4__email .section4__email-title {
  font: normal 49px/59px "Raleway";
}
.section4__email .section4__email-text {
  font: normal 16px/22px "Open Sans";
  padding: 15px 0 25px 0;
}
.section4__email .section4__formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section4__email .section4__formContainer input {
  padding: 20px;
  display: none;
}
/*se crea el diseño del botón*/
.section4__email .section4__emailRightsite-btn {
  width: 225px;
  height: 55px;
  position: absolute;
  right: 0;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: #08a6e4;
  font: 700 13px/18px "Open Sans";
  cursor: pointer;
  margin-top: 2rem;
}
/*Ubicación del boton*/
.section4__email .section4__emailRightsite {
  position: relative;
}

/*Se crean los bordes que van a contener toda la información*/
.section4__email .section4__formContainer input[type="checkbox"] + label {
  position: relative;
  padding: 25px;
}
/*Creo el contenedor para el check*/
.section4__email
  .section4__formContainer
  input[type="checkbox"]
  + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  top: 25;
  left: 0;
  cursor: pointer;
  border: 2px solid #cccccc;
  border-radius: 6px;
}
/*Creo las propuedades para el check*/
.section4__email
  .section4__formContainer input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #08a6e4;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}
/*Propiedades span*/
.section4__email .section4__formContainer span {
  font: normal 12px/12px "Open Sans";
  color: #707070;
}



/*Se crea el footer o sección 5*/
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px -5px 40px #00000029;
  height: 90px;
}

.footer__container p {
  font: normal 11px/15px "Open Sans";
  color: #a5a5a5;
}
.footer__container .footer__logo a {
  font: lighter 26px/31px "Raleway";
  color: #08a6e4;
  text-decoration: none;
}
.footer__container .footer__logo , .footer__container .footer__icons {
  padding: 0 100px;
}

